{{define "navbar"}}
    <!-- NAVBARRRRRRRRRRR -->

    <div id="leftNav">
        <a href="/">Home</a>
        <a href="/contact">Contact</a>
    </div>

    <div id="RightNav">

        <a id="li" href="">LogIn</a>
        <a id="su" href="">SignUp</a>
    </div>



{{end}}