{{define "yield"}}

<img  id="arrow" src="/static/arrow.png" alt="">
    <b id="arrowText" >Already an member ? <br> LogIn Here!</b>


    <div class="login">
        
        <form class="form-group">
            <input type="email" name="email" class="form-control" id="email" placeholder="Email"required="required" />
            <input type="password" name="password" class="form-control" id="password" placeholder="Password"required="required" />
            <button type="submit" id="btnsubmit" class="bbtn btn-primary btn-block btn-large">SignUp</button>
        </form>
    </div>

{{end}}