{{define "yield"}}
{{template "signupForm"}}
{{end}}


{{define "signupForm"}}
<div id="MainMagic" >
    <img  id="arrow" src="/static/arrow.png" alt="">
    <b id="arrowText" >Not an Existing User ? <br> SignUp Today!</b>


    <div class="login">
        
        <form class="form-group">
            <input type="email" name="email" class="form-control" id="email" placeholder="Email"required="required" />
            <input type="password" name="password" class="form-control" id="password" placeholder="Password"required="required" />
            <button type="submit" id="btnsubmit" class="bbtn btn-primary btn-block btn-large">LogIn</button>
        </form>
    </div>
</div>

{{end}}